In [2]:
#Set Up
import requests
import json
import numpy as np
import pandas as pd
import gmaps
import gmaps.datasets
import gmaps.geojson_geometries

In [3]:
weather_data = pd.read_csv("../WeatherPy/weather_data")
gkey="***"
gmaps.configure(api_key=gkey)

# Heat Map

In [361]:
coords = weather_data[['Latitude', 'Longitudes', 'Humidity']]
coords

     Latitude  Longitudes  Humidity
0       78.22       15.64        85
1      -54.80      -68.30        57
2       77.48      -69.36        86
3       42.10      -79.24        55
4       18.45      -78.17        74
..        ...         ...       ...
815     58.13       68.59        74
816     -7.80      -35.59        84
817     53.70       53.67        75
818     53.75       62.07        64
819     32.50       62.50        30

[820 rows x 3 columns]

In [362]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    coords[['Latitude', 'Longitudes']], weights=coords['Humidity'],
    max_intensity=30, point_radius=3.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Closest Hotels

In [299]:
slim_data = weather_data[(weather_data.Temperature <80) & (weather_data.Temperature < 70) & (weather_data.Windspeed < 10) & (weather_data.Cloudiness < 1)]
slim_data['LatLong'] = slim_data['Latitude'].astype(str) + ", " + slim_data['Longitudes'].astype(str)

/Users/johnpatten/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [328]:
hotels = []
vicinities = []
global_codes = []
target_search = "hotel"
radius = 5000

params = {
    "location": dc_coords,
    "keyword": target_search,
    "radius": radius,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [329]:
for index, row in slim_data.iterrows():
    dc_coords = row['LatLong']
    params['location'] = dc_coords
    places_data = requests.get(base_url, params).json()
    try:
        hotel_name = places_data["results"][0]["name"]
        hotels.append(hotel_name)
        vicinity = places_data["results"][0]["vicinity"]
        vicinities.append(vicinity)
        global_code = places_data["results"][0]["plus_code"]["compound_code"]
        global_codes.append(global_code)
        print(hotel_name)
        print(vicinity)
        print(global_code)
    except (KeyError, IndexError):
        hotel_name = "NaN"
        hotels.append(hotel_name)
        vicinity = "NaN"
        vicinities.append(vicinity)
        global_code = "NaN"
        global_codes.append(global_code)
        print("Error")

The Halyards Hotel
1 Albany Road, Port Alfred
CV4V+77 Port Alfred, South Africa
Millbury Guesthouse
27 Mill Park Rd, Mill Park, Port Elizabeth
2HQR+92 Port Elizabeth, South Africa
Blue Lagoon Hotel
21 Blue Bend Pl, Blue Bend, East London
2X82+JC East London, South Africa
Bertelli Chuí Hotel
Rodovia BR-471 s/n - Centro, Chuí
8H63+P9 Centro, Chui - State of Rio Grande do Sul, Brazil
Commissariat De Police Tsiroanomandidy
Tsiroanomandidy
63J2+RJ Tsiroanomandidy, Madagascar
Apartamenty Porto
Nadbrzeżna 5A, Giżycko
2QM7+V3 Gizycko, Poland
Princesse Tsiribihina
Miandrivazo
FC4X+FX Miandrivazo, Madagascar
Hotel Klaksvík
Klaksvík
6CH4+84 Klaksvík, Faroe Islands
Clarion Hotel Grand Östersund
Prästgatan 16, Östersund
5JHP+WF Östersund, Sweden
Hotel Villa Victoria de Tigre
DAX, Av. Liniers 566, Tigre
HCP5+CH Tigre, Buenos Aires Province, Argentina
Odar kanawal
Autoroute Akjoujt, Atar
FWRP+8R Atar, Mauritania
Error
Hotel ELBLĄG
Stary Rynek 54-59, Elbląg
595W+W6 Elblag, Poland
Error
Error
Гостинница В Шиели "Айжұлдыз"
Unnamed Road, Shieli
5PXF+5R Shieli, Kazakhstan
Hotel Eken
Ekenleden 1A, Kållered
J323+J8 Kållered, Sweden
Best Western Nya Star Hotel
Markusgatan 1, Avesta
45W9+6C Avesta, Sweden
Hôtel Sahel
BP 1441, Nouadhibou
WXC5+X6 Nouadhibou, Mauritania
Hotel Stauffer International
Av. Alirio Ugarte Pelayo, Maturín
QQWW+GH Maturin, Monagas, Venezuela
Hotel OMEGA - Złocieniec
Czaplinecka 3, Złocieniec
G2M8+HV Zlocieniec, Poland
Error
Pond Country Club
Estrada RS 784 KM 7 - Lagoa, Cidreira
RPJV+VP CIDREIRA, Cidreira - State of Rio Grande do Sul, Brazil
Rosfjord Strandhotell
Rosnesveien 25, Lyngdal
43C5+H7 Lyngdal, Norway
Error
Tikhaya Gavan
Ulitsa Chernomorskaya, 15A, Divnomorskoye
G44J+65 Divnomorskoye, Krasnodar Krai, Russia
Error
Desert Gat
Sderot HaAtsma'ut 134, Kiryat Gat
JQ37+6F Kiryat Gat, Israel
Error
مسافر خانه وسوئیت زاگرس
Javanrud, جوانرود ورودی اصلی شهر جنب، پمپ بنزین میراحمدی
RG23+F5 Javanrud, Kermanshah Province, Iran
Error
Villa Marienholm
Väike-Viigi 10, Haapsalu
XG3F+FV Haapsalu, Lääne County, Estonia
Hotel Berezka
Ulitsa Sibirskaya, 14, Mezhdurechenskii
JV3M+7H Mezhdurechenskii, Khanty-Mansi Autonomous Okrug, Russia
Kemping wifi hotel
Hazorasp
83HF+M7 Hazorasp, Uzbekistan
Busta House Hotel
Busta, Shetland
9JMF+GJ Busta, Shetland, United Kingdom
Aljezur Villas Hostel
Vale da Telha, Sector D, Lote 125
844X+XR Aljezur, Portugal
بورتو بردية
Unnamed Road, بردية،، بردية،
Q34P+98 Bardiyah, Libya
Alojamiento pailon
Alojamiento, Pailon
87RF+H9 Pailón, Bolivia
Nebitchi Hotel
Balkanabat
G975+VX Balkanabat, Turkmenistan
Beleza Pura B&B
Calle 12, 10, Balneario Buenos Aires
GM6H+26 Rocha, Rocha Department, Uruguay
ibis Asuncion
Avenida Aviadores del Chaco 2060, Asunción
PC8M+8M Asunción, Paraguay
Burgaz İzer Hotel
Eskibedir/Lüleburgaz
99PV+J3 Eskibedir, Lüleburgaz/Kırklareli, Turkey
Hotel Sofitel Legend Old Cataract Aswan
Qism Aswan, Sheyakhah Oula, Abtal Al Tahrir
3VJP+VW Sheyakhah Oula, Qism Aswan, Egypt
Gran Hotel Mercedes
Calle 16, Mercedes
8HW8+CV Mercedes, Buenos Aires Province, Argentina
Hotel Brisas De Comarapa
Comarapa
3FJF+V5 Comarapa, Bolivia
Helnan Marselis Hotel
Strandvejen 25, Aarhus
46G8+H2 Aarhus C, Aarhus, Denmark
Hotel Mandino
R. G-2, 215 - St. G, Alta Floresta
4W76+27 G, Alta Floresta - State of Mato Grosso, Brazil
Hotel Appel
Rua Appel, 509 - Nossa Sra. de Fátima, Santa Maria
854J+WM Nossa Senhora de Fátima, Santa Maria - State of Rio Grande do Sul, Brazil
Error
The Standing Stones Hotel
A965, Stromness
XQPM+PH Stromness, United Kingdom
Raindrops Guesthouse
Molepolole, Ntloedibe Ward, Gaborone
HFQP+4V Molepolole, Botswana
Hotel Viñas del Sol
San Juan. Ruta 20 Y Gral. Roca, San Juan, Argentina
FG36+GQ Santa Lucía, San Juan Province, Argentina
Chico's Ranch
Unnamed Road Carretera a San Jose de la Montaña, La Paz
Q4V3+M9 Cerro Colorado, El Salvador
Orca Country Inn
Brakefield Rd, Hoswick, Shetland
XPXV+GC Hoswick, Shetland, United Kingdom
Hôtel Telwa Bungalow
Route Tahoua Arlit, RN25, Agadez
P9QQ+JQ Arlit, Niger
Error
Hotelli Iisoppi
Välikatu 20, Nokia
FGH6+9H Nokia, Finland
Karam Hotel
Karaburun, Sahil Cd. No:46, Arnavutköy
8MQV+53 Karaburun, Arnavutköy/İstanbul, Turkey
Error
SPOT ON 65186 Venkateshwara Lodge
X Taluk Office Rd, Turuvekere, Bengaluru
5M88+JV Bediswaste, Karnataka, India
Error
Niyat Urban Hotel
ADA, Hipólito Yrigoyen 83, Resistencia
G2X8+M2 Resistencia, Chaco Province, Argentina
AZALAÏ HOTEL NOUAKCHOTT (MARHABA )
Avenue Gamal Abdel Nasser، Nouakchott
32PG+QJ Nouakchott, Mauritania
Hotel Solaris
Merced 418, Vallenar
C6HP+2V Vallenar, Chile
Hotel Villa Moura Executivo
R. Gen. Neto, 333 - Centro, Rio Grande
XW82+4J Centro, Rio Grande - State of Rio Grande do Sul, Brazil
Padu hotel
Heltermaa mnt, Hiiu 22, Kärdla
XQR4+2W Kärdla, Hiiu County, Estonia
MDS Hotel Calama
Av. Balmaceda 2634, Calama
G3VH+V2 Calama, Chile
Postoyaliy dvor
Ulitsa Mostovaya, 32, Alexeyevka
JMFM+G3 Alexeyevka, Belgorod Oblast, Russia
Van der Valk Hotel Assen
Balkenweg 1, Assen
XGRF+XG Assen, Netherlands
فندق المنشي دمياط
Qism Damietta, Damietta First
CR97+46 Qism Damietta, Damietta Desert, Egypt
De Herberg Lodge
49 Schreiner St, De Aar
9234+C6 De Aar, South Africa
Hotel Moonlight Residency
ITI Rd, Urliwand, Kathua
9G8F+WC Kathua, Jammu and Kashmir
Scandic
Stenbomsgatan 8, Bollnäs
9C22+4P Bollnäs, Sweden
InterTower Hotel
San Jerónimo 2779, FQH
974V+J4 Santa Fe, Santa Fe Province, Argentina
Error
26 On Chamberlain Guest House
26 Chamberlain St, Queenstown
4V4Q+6V Queenstown, South Africa
The Gopinivas Grand
East Car Street, near Seashore, Kanyakumari
3HM2+3C Kanyakumari, Tamil Nadu, India
Mirante Hotel
R. Conde de Porto Alegre, 696 - Centro, Santa Vitória do Palmar
FJHP+H9 Centro, Santa Vitória do Palmar - State of Rio Grande do Sul, Brazil
Hotel Americano
Merced 418, Pergamino
4C4G+RH Pergamino, Buenos Aires Province, Argentina
Hotel Paris
Calle Comercio Esquina, Yacuíba
X8MC+8H Yacuíba, Bolivia
Maravilha Palace Hotel
Rua Prefeito Albino Cerutti Cella, 126 - Centro, Maravilha
6RMF+PV Centro, Maravilha - State of Santa Catarina, Brazil
Hotel Benevento
Calle 2 645, La Plata
33V2+68 La Plata, Buenos Aires Province, Argentina
Error
Hotel Pulmahue
José M. Infante 451, Copiapó
JMQ8+5X Copiapó, Copiapo, Chile
Hotel Eurocaribe International
Carupano
MQC2+HH Carupano, Sucre, Venezuela
Ingrid’s apartments
eidfjordvegen 310, Eidfjord
F388+24 Eidfjord, Norway
Hotel Şabat
Dashoguz
RXM9+Q8 Dashoguz, Turkmenistan
Nacional Palace Hotel
R. América, 936 - Centro, Corumbá
X8WX+7P Centro, Corumbá - State of Mato Grosso do Sul, Brazil
Lūkstas Rest Park
Ungurių g. 9, Graužai, Varnių sen., Telšių r. sav, Graužai
P8GQ+FC Graužai, Lithuania
Error
Sockerslottet Hotell
Norra Staketgatan 8, Kristinehamn
8465+WQ Kristinehamn, Sweden
Amérian Rafaela Hotel
Bv. G. Lehmann 501, Rafaela
QG25+QM Rafaela, Santa Fe Province, Argentina
Salam Hotel
Sirte
6H3F+HR Sirte, Libya
Error
Tripoli Hotel
R. Cel. Soares de Carvalho, 302 - Centro, São Jerônimo
27VG+6P Centro, São Jerônimo - State of Rio Grande do Sul, Brazil
Hotel das Videiras
Rua Paulo Ogliari, R. Pinheiros, 52 - Dois Pinheiros, Videira
XVV6+CG Dois Pinheiros, Videira - State of Santa Catarina, Brazil
Cabañas "La Araucana"
Hector Gutierrez Ruiz, Echeverry
826G+VG Echeverry, Tacuarembó Department, Uruguay
Hotel Cikada
1 Hamngatan, Mariehamn
3WXG+5R Mariehamn, Åland Islands
Hirtshals
Havnegade 2, Hirtshals
HXR4+9V Hirtshals, Hjørring Municipality, Denmark
Error
Hotel Missões
R. Dr. João Sebastiany, 401 - Centro, Cerro Largo
V736+GC Centro, Cerro Largo - State of Rio Grande do Sul, Brazil
Hilton Garden Inn Durham/University Medical Center
2102 W Main St, Durham
234G+V6 Durham, North Carolina
Hotel Viva Vida
rua doutor, R. César Pereira da Cunha, 65, São Borja
82P2+M6 Centro, São Borja - State of Rio Grande do Sul, Brazil
Aravana
Kurortnoye
W56V+M6 Kurortnoye
Al Nakhel Hotel
Libya
4WFQ+86 The Old Town of Hun, Libya
Zolotaya Podkova
Tselinnoye
3MF3+99 Tselinnoye, Altai Krai, Russia
hotel luna del desierto
Juan Martínez de Rosa 818, Atacama, Diego de Almagro
JX54+J9 Diego de Almagro, Chile
Diamond Premium Hotel & Spa Hotel
Sorgun, Manavgat
QF27+PG Sorgun, Manavgat/Antalya, Turkey
Palissandre Cote Ouest resort & SPA
Morondava
M7X9+X5 Morondava, Madagascar

In [335]:
slim_data['hotels'] = hotels
slim_data['City, Country'] = global_codes
slimmed_data = slim_data[slim_data['hotels'] != "NaN"]
slimmed_data = slim_data[slim_data['City, Country'] != "NaN"]
locations = slimmed_data[['Latitude', 'Longitudes']]
slimmed_data['City, Country'] = slimmed_data['City, Country'].str[8:]
slimmed_data.head()

/Users/johnpatten/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/johnpatten/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/johnpatten/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Names,City Number,Temperature,Hemisphere,Latitude,Longitudes,Cloudiness,Humidity,Windspeed,LatLong,hotels,"City, Country"
12,12,Port Alfred,13,16.67,Southern,-33.59,26.89,0,84,2.24,"-33.59, 26.89",The Halyards Hotel,"Port Alfred, South Africa"
14,14,Port Elizabeth,15,15.00,Southern,-33.92,25.57,0,100,1.00,"-33.92, 25.57",Millbury Guesthouse,"Port Elizabeth, South Africa"
24,24,East London,25,20.05,Southern,-33.02,27.91,0,61,6.32,"-33.02, 27.91",Blue Lagoon Hotel,"East London, South Africa"
35,35,Chui,36,17.43,Southern,-33.70,-53.46,0,87,4.16,"-33.7, -53.46",Bertelli Chuí Hotel,"Centro, Chui - State of Rio Grande do Sul, Brazil"
37,37,Tsiroanomandidy,38,16.61,Southern,-18.77,46.03,0,68,1.23,"-18.77, 46.03",Commissariat De Police Tsiroanomandidy,"Tsiroanomandidy, Madagascar"

In [336]:
hotel_slim = slimmed_data[['hotels', 'City, Country', 'LatLong']]
hotel_slim.head()

,hotels,"City, Country",LatLong
12,The Halyards Hotel,"Port Alfred, South Africa","-33.59, 26.89"
14,Millbury Guesthouse,"Port Elizabeth, South Africa","-33.92, 25.57"
24,Blue Lagoon Hotel,"East London, South Africa","-33.02, 27.91"
35,Bertelli Chuí Hotel,"Centro, Chui - State of Rio Grande do Sul, Brazil","-33.7, -53.46"
37,Commissariat De Police Tsiroanomandidy,"Tsiroanomandidy, Madagascar","-18.77, 46.03"

In [337]:
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{hotels}</dd>
<dt>Location</dt><dd>{City, Country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_slim.iterrows()]

In [338]:
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
heatmap_layer = gmaps.heatmap_layer(
    coords[['Latitude', 'Longitudes']], weights=coords['Humidity'],
    max_intensity=30, point_radius=3.0)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))